@import './lib/common.less';
html,body,.main,.container-fluid,.index_rightMain{
  height: 100%;
}
html{
  font-size: 10px;
  overflow: hidden;
}
body{
  font-size: 1.2rem;
  font-family: "Microsoft YaHei" ,~" 微软雅黑" ;
}

.onlineStatus{
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #979797;
  display: inline-block;
  margin-right: 1rem;
  margin-top:7%;
}
.person_num{
  font-size: 1.2rem;
  margin-top: 4%;
}
.online{
  background-color: #19b16c;
}
.index_leftNav{
  background-color: #494949;
  color: #ffffff;
  height: 100%;

}

.index_roomName{
  font-size: 2rem;
  line-height: 3rem;

}
.index_roomInfo{
  font-size: 1.3rem;
  padding: 1rem 0 1rem 2rem;
  color: #d6d6d6;
  a{
    color: #d6d6d6;
  }
  img{
    width: 20%;
    vertical-align: middle;
    margin-right: 5%;
  }
  &:hover{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
  }
}
.index_roomPerson{
  padding-top: 2rem;
  font-size: 2rem;
}
.index_topic{
  .index_roomInfo{
    padding:0 0 0  2rem;
  }

}
.index_invite{
  .index_roomInfo{
    padding:0 0 0  2rem;
  }
  a{
    text-decoration: dashed;
    text-underline: dash;
  }
}
.index_rightMain{
 // background-color: #e3e3e3;
}
.index_rightNav{
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-bottom:  1px solid #cccccc;
}
.index_rightChatRoom{
  position: relative;
  height: calc(~"100% - 60px");

}
.index_rightChatRoom_input{
  position: absolute;
  bottom: 0;
  left: 0%;
  right: 0;
}
.index_rightChatRoom_home{
  position: absolute;
  bottom:45px;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.index_rightNotice{
  line-height: 2rem;
}
.chat_img{
  width: 32px;
  border-radius: 5px;
}
.divide_main{
  width: 100%;

  span{
    width: 15%;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    color: #cccccc;
  }
  div{
    display: inline-block;
    border: 1px solid #cccccc;
    width: 42%;
  }
}
.chat_del{
  margin-left: 1rem;
  font-size: 1rem;
  color: #ccc;
}
.btn_send{
  cursor: pointer;
  &:active{
    background-color: #333333;
    color: #ffffff;
  }
}
.chat_name{
  color: #756D6D;
}
.chat_content{
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
 // display: inline-block;
  width: 50%;

}
.login{
  background-color: #19b16c;
}
.login_main{
  position: relative;
  height: 100%;overflow: hidden;
}
.login_login,.login_register{
  position: absolute;
  top: 40%;
  left: 5%;
  right: 5%;
}
.login_login_btn{
  text-align: center;
  button{
    margin: 0 10%;
  }
}
.login_login{
  z-index: 50;
}
.login_register{
  z-index: 49;

}
/*
@keyframes login_login {
  20%{
    -webkit-transform: translate(-20%, -50%) scale(0.9);
    transform: translate(-20%, -50%) scale(0.9);
  }
  100%{
    -webkit-transform: translate(-110%, -40%) scale(0.9);
    transform: translate(-110%, -40%) scale(0.9);
  }
}
.login_login.animation{
  .animation(login_login 2s ease-in forwards )
}*/
